@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;700&family=Imprima&family=Oxygen&display=swap");
@import "react-loader-spinner/dist/loader/css/react-spinner-loader.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */
